// Define variables for your color scheme

// For example:
$red: #ed2d34;
$blue: #0c45b5;
$yellow: #ffc312;
$orange: #FF9C00;
$green: #00b13f;
$pink: #ff7bac;
$purple: #3e38a1;
$light-blue: #29abe2;
$teal: #00b1b8;
$gray: #333333;
$light-gray: #F4F4F4;
