<h1 class="page-title">Let's study!</h1>
<%= simple_form_for @study_session do |f| %>
<%= f.input :mode, collection: ["learn", "revise"] %>
<%= f.input :decks, collection: Deck.all %>
  <%= f.button :submit %>
<% end %>