<% @deck = StudySessionDeck.where(study_session_id: @study_session.id).first.deck %>



<div id="card-view">
<% if @study_session.mode == "learn" %>
<%= render "shared/card_learn", card: @card, study_session: @study_session, deck: @deck %>
<% end %>
<% if @study_session.mode == "revise-definition" %>
<%= render "shared/card_revise-definition", card: @card, study_session: @study_session, deck: @deck, flipped: false %>
<% end %>
<% if @study_session.mode == "revise-pinyins" %>
<%= render "shared/card_revise-pinyin", card: @card, study_session: @study_session, deck: @deck %>
<% end %>
</div>


