<div class="feature-container">
    <div class="feature-body">
        <%= image_tag "feature-icons/#{image}", class: "feature-icon"%>
        <div class="feature-description">
            <h3 class="feature-title"><%= title %></h2>
            <div class="feature-text">
                <%= description %> 
                
                <div class="feature-status">
                Status: <%= status %>
                </div>
                </div>        
        </div>

    </div>
</div>