<div class="banner full-height">
    <div class="banner-logo-container">
        <h1>shwiger</h1>
        <div class="banner-logo"></div>
    </div>
    <p>smart chinese flashcards</p>
    <div class="button primary">Demo ></div>
</div>