<div class="banner full-height">
    <div class="banner-logo-container">
        <h1>shwiger</h1>
        <div class="banner-logo"></div>
    </div>
    <p>smart chinese flashcards</p>
    <% if user_signed_in? %>
        <%= link_to user_decks_path, class: "button primary large" do %>
        My dashboard >
        <% end %>
    <% else %>
    <div class="button primary large">Demo ></div>
    <% end %>
</div>