

<div class="page-title">Your decks</div>
<div class="button"><%= link_to "Add more decks", decks_path %></div>
<div class="decks-container">

<% @user_decks.each do |user_deck| %>
<%= render "shared/deck", deck: user_deck.deck, context: "user-deck" %>
<% end %>

</div>
