

<h1 class="page-title">My decks</h1>
<div class="decks-container">

<% @user_decks.each do |user_deck| %>
<%= render "shared/deck", deck: user_deck.deck, context: "user-deck" %>
<% end %>

<%= render "shared/deck", context: "add-deck"%>

</div>
