.button {
    padding: 0.5em 1.5em;
    border-radius: 0.2em;
    font-size: 1em;
    margin: 0.2em 0.2em;
    font-weight: 400;
    border: none;
}

.button:disabled {
    border-color: rgba(245, 245, 245, 0);
}

.button.large {
    font-size: 1.3em;
}

.button.primary {
    background-color: $orange;
    color: white;
}

.button.secondary {
    background-color: $blue;
    color: white;
}

.button.outline-secondary {
    border: 2px solid $blue;
    background-color: rgba(245, 245, 245, 0);
    color: $blue;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 0;
}