.feature-container {
    // background-color: white;
    display: flex;
    text-align: left;
    justify-content: space-around;
    margin: 1em 0;
}

#features-list >*:nth-child(odd) >.feature-body {
    flex-direction: row;
}

#features-list >*:nth-child(even) >.feature-body {
    flex-direction: row-reverse;
}

.feature-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    width: 100dvw;
}

.feature-icon {
    width: 200px;
    height: 200px;
    padding: 8px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
}

.feature-title {
    padding: 8px;
    margin-bottom: 0;
}

.feature-text {
    border-top: 1px solid $gray;
    // background-color: white;
    padding: 0.5em;
}

.feature-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    // background-color: white;
}

.feature-status {
    margin-top: 0.5em;
    opacity: 0.8;
}