.flip-card {
  perspective: 1000px;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
}

.flip-card-inner {
    position: relative;
    width: 300px;
    height: 400px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip-card-inner.is-flipped {
    transform: rotateY(180deg);
}

.flip-card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: grid;
    place-items: center;
    padding: 1rem;
    border-radius: 1em;
    border: 1em solid rgb(255, 254, 251);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.flip-card-front {
    background-color: $blue;
}

.flip-card-front.focus {
    background-color: $orange;
}

.flip-card-back {
    transform: rotateY(180deg);
    background-color: rgb(255, 254, 251);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.large-character {
    color: rgb(255, 254, 251);
    font-size: 4em;
    font-weight: 900;
}

.character {
    font-size: 2em;
}
.card-secondary {
    font-size: 1em;
}

.card-primary {
    font-size: 1.5em;
    font-style: italic;
    position: relative;
}

.change-preferred-definition-label {
    position: absolute;
    left: 200px;
    width: 120px;
    background-color: $blue;
    color: white;
    font-size: 0.4em;
    padding: 0.4em;
    border-radius: 5px;
    display: none;
}

.definition-container {
    text-align: center;
    height: 100px;
    width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    overflow: auto;
}

.definition-item {
    color: darkslategray;
    font-style: italic;
    padding: 0.1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.individual-definition > button {
    padding: 0.4em;
    margin: 0.2em;
    border-radius: 5px;
    background-color: lightgray;
    border: none;
    opacity: 0.8;
}

.button-container {
    display: flex;
}

.card-button {
    padding: 0.8em 1em;
    margin: 0.2em 0.2em 0 0.2em;
    border-radius: 0.5em;
    flex-grow: 1;
    border: none;
    width: 130px;
    color: white;
}

.forgot {
    background-color: $orange;
}

.remember {
    background-color: $green;
}

.learn {
    background-color: $blue;
}

#card-view {
    margin: 1em;
}

.inactive {
    cursor: default;
}