.study-session-info {
    margin: 1em 0 0 0;
    font-size: 1em;
}

.interactions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.interactions-container > form {
    display: flex;
}