// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
// @import "pages/index";

a {
    text-decoration: none;
    color: inherit;
}

body {
    text-align: center;
    background-color: rgb(231, 228, 224);
    font-weight: 300;
}

.page-title {
    font-size: 2em;
    margin: 0.5em;
}