<h1>All decks</h1>
<% @decks.each do |deck| %>
<h2><%= deck.name %></h2>
<h3><%= link_to "View cards", deck_path(deck) %></h3>
<%= button_to "Learn this deck",
              user_decks_path(deck),
              method: :post,
              params: { deck_id: deck.id } %>
<% end %>