<h1><%= @deck.name %></h1>
<div class="decks-container">
<%= render "shared/deck", deck: @deck, context: "show-deck" %>
</div>
<%= button_to "Add to my decks",
              user_decks_path(@deck),
              method: :post,
              params: { deck_id: @deck.id } %>